<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  	<frameset rows="50,*">
  		<frame name="menu" src="/admin/menu">
			<frame name="main" src="/admin/main">
		</frameset>
  </head>
</html>
