<html>
<body>
<table cellpadding=10><tr>
<td><a target="main" href="/admin/farmer">農家/ジョブ</a></td>
<td><a target="main" href="/admin/helper">ヘルパー/オファー</a></td>
<td><a target="main" href="/admin/match">マッチング</a></td>
<td><a target="main" href="/admin/camera">顔合わせカメラ</a></td>
</tr></table>
</body>
</html>
